*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(75, 75, 82, 0.5), rgba(92, 92, 82, 0.5)), url("../../media/examples/lizard.png");
  background-image: cover;
}
/*  here is styling for the booooooooody */
header {
 width: 100%;
 height: 120px;
 background-color: #9b0b3b;
}
h1 {
  position: absolute;
  padding: 5px;
  float: left;
  margin-left: 5%;
  margin-top: 10px;
  color: #e21156;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  
}
span {
  color: #ffffff;
  letter-spacing: 0.3em;
   font-size: 25px;
}
ul {
  width: auto;
  float: right;
  margin-top: 5px;
}
li {
 display: inline-block;
 padding: 15px 30px;
}
a {
 text-align: center;
 color: #ffffff;
 text-decoration: none;
 font-family: 'Courier New', Courier, monospace;
 font-size: 1.2vw;
}
a:hover{
  color: #f0c330;
  transition :0.5s;
}
/*  ///////////////////////////////////////////////////////////////////////////    */
/* add cursor to the img logo */
table {
  border: rgb(65, 7, 0) 15px ridge;
  border-radius: 7%;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
  width: 65%;
  position:absolute ;
  top: 45%;
  left: 15%;
}
td,th,tr {
  border: solid 3px rgb(218, 25, 25);
  border-radius: 15px;
}
table caption {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
legend {
  text-align: center;
  font-size: 20px;
}
form {
  background-color: rgb(124, 24, 13);
  display: inline-table;
  color: antiquewhite;
  border: rgb(65, 7, 0) 15px ridge;
  border-radius: 7%;
  width: 50%;
  position: absolute;
  left: 22%;
  top: 30%;
}
.logo {
  width: 200px;
  cursor: pointer;
  margin-left: 60px;
}




